[2015-08-13 15:15] KathleenLD opened #1 "Update pedestrian route limit"
https://github.com/valhalla/valhalla-docs/blob/gh-pages/api-reference.md#api-keys-and-service-limits

AFAIK, we've updated the pedestrian route limit to 250 km.

[2015-08-13 15:35] kevinkreiser commented on #1
indeed: https://github.com/valhalla/chef-valhalla/blob/master/templates/default/valhalla.json.erb#L107

[2015-08-13 15:36] kevinkreiser commented on #1
updated

[2015-08-13 15:36] #1 closed

[2015-08-21 17:51] kevinkreiser opened #4 "Tutorial Covering How to Add Custom Data to Affect Routes"
A number of potential users of valhalla want to add their own open or proprietary data to valhalla route tiles so that they can influence the route computation in certain ways. It would be nice to give a brief overview of where one might make such changes to accomplish this.

I've got a start on this already but I need to turn it into a proper tutorial. After that, it would be nice to have @rmglen

[2015-09-16 11:49] KathleenLD opened #11 "Add ` ` around head tag"
Looks like this is supposed to say `<head>`.

[2015-09-16 11:59] KathleenLD opened #12 "Confusion around directory names"
@rmglennon I don't know what your thoughts are on this, but what are your thoughts on just establishing directory names, rather than always reminding the user to use their own? I am finding that I'm getting confused about which directory I need to reference, and if I was able to set my own directories to all have the same name as yours, that would help. For example, lrm-valhalla is the directory t

[2015-09-16 12:23] KathleenLD opened #13 "Unclear steps"
In this issue I'm just adding some potential wording changes based on what tripped me up along the way. Feel free to ignore.

The 2nd half of that suggestion is unclear. Because of the example text below I see what you're trying to get me to do, but I'm not exactly sure what to make of that line.

---
From Rhonda - this is the markdown rendering issue.

[2015-09-16 12:25] KathleenLD commented on #13
Oh. I see now that it's showing what that line in my code is supposed to look like... Had you meant for `js router:` to start a new line, maybe?

[2015-09-16 12:34] KathleenLD commented on #13
I would change this to

[2015-09-16 12:36] KathleenLD commented on #13
I would change this to

This sounds silly, but that "but" tripped me up, and I ended up putting the code in the wrong place.

[2015-09-16 22:12] rmglennon commented on #11
Thanks, yep. Missed adding backticks around the tag to make it render in md. Argh.

[2015-09-16 22:15] rmglennon commented on #12
Good comment. Let me see what makes sense to do. If I add a step telling you to rename leaflet-x-x-x version number to leaflet, then that would simplify the text that says to replace your own folder names when you add the reference to the path where the library resides on your machine.

(Not sure if this affects the package manager crowd.)

[2015-09-16 22:57] rmglennon commented on #13
This line is a markdown rendering problem because it should have a line break. If it rendered properly, then the js wouldn't actually show (it's there to tell the markdown to do JavaScript code highlighting). Investigating why GitHub shows it like this...looks fine in the raw markdown, Atom, and on dev...

Change <my routing mode> to auto to perform routing by automobile. js router: L.Routing.valh

[2015-09-16 22:58] rmglennon commented on #13
Added note to the commit: https://github.com/valhalla/valhalla-docs/commit/9428c1eb3a2ede646ed19c800753294e0ed32920

[2015-09-18 01:42] louh opened #16 "Consider not self-closing CSS link tags in documentation"
E.g.:
[code]

This appears commonly, but is a relic of an ancient and bygone era of writing HTML. I have personally never been bitten by writing, instead, the semantically correct and much cleaner:

[code]

I'm open to counter arguments.

[2015-09-22 23:06] rmglennon commented on #16
I've updated the code to remove these (will reference this issue when it's on master). Thanks!

[2015-09-22 23:09] rmglennon commented on #12
I've added a step to rename the folders. This simplified the steps to reference the paths. Will link this issue to my pull request when it's ready to go.

![image](https://cloud.githubusercontent.com/assets/4380498/10034280/336853f2-6144-11e5-8411-222706864790.png)

[2015-09-22 23:15] rmglennon opened #19 "Valhalla tutorial - add more instructions for other installation methods"
The tutorial describes the download method of getting the libraries, but only mentions that you can use a package manager. Consider adding more details on this workflow, perhaps as a sidebar or subsection. Both Lou and Randy mentioned this.

From @louh:

For people who are fairly experienced front-end developers, package management is the ideal tool for getting dependencies. If that's not availabl

[2015-09-22 23:42] rmglennon opened #20 "Valhalla tutorial - add info on making multiple stops"
The current iteration uses only a start and end point. Add an exercise on how to add multiple stops or through points with lrm-valhalla.

[2015-09-24 00:12] #13 closed

[2015-09-24 00:12] #16 closed

[2015-09-24 00:12] #12 closed

[2015-09-24 00:12] #11 closed

[2015-10-01 20:20] costales opened #25 "Which are all the maneuver 'type' strings?"
Hi!

I'd like to localize my project.

Where could I read all the possible strings for the types here https://github.com/valhalla/valhalla-docs/blob/master/api-reference.md

By example, for this instruction:
`Bear left onto Gijon El Llano`
Would be `Bear left onto`.

Thanks in advance!

[2015-10-01 20:31] kevinkreiser commented on #25
hi @costales we havent yet began the process of localizing our narrative generation code. so as it currently stands most of these strings are directly in the [code](https://github.com/valhalla/odin/blob/master/src/odin/narrativebuilder.cc) within the `odin` progject. @dgearhart can elaborate on that if you need.

however we do plan to do localization on the server side. we should have a mechanism

[2015-10-01 20:32] dgearhart commented on #25
We are starting to discuss the I18N of our narrative strings - we are hoping to provide language specific files that users could easily create and modify. If you have any suggestion we would be happy to hear.

[2015-10-01 21:02] costales commented on #25
Thanks a lot for your answers :)

IMHO it would be good (too) a public/know method to descompose a English phrase. It's a bit complicate now because of the use of several streets, signs, joins of phrases/streets... And this could be a door to localize from the client side, because I could use a language that you'll not set in the server as language=ast_ES ;)

A big hug!

[2015-10-01 22:22] kevinkreiser commented on #25
we are considering a formatting of the text output such that the pieces you mentioned would be easily identifiable, for example something like:

    turn <span type="turn">left</span> on <span type="street_name">Gijon El Llano</span>

in the end though, we want to make it so that you can make a pull request to us with the `ast_ES` strings in it so that other people that want Asturian can also get

[2015-10-02 13:02] dgearhart commented on #25
yes @costales we would like have an open system that will enable you and others to contribute specific languages. So if we would supply a file with narrative phrases then users could translate the static phrases and reorder the static and dynamic parts as needed - for the "Bear left" example:

en_US file:
phrase#0: "Bear left"
phrase#1: "Bear left onto <STREET_NAMES>"

es_ES file:
phrase#0: "Gire

[2015-10-02 17:06] costales commented on #25
Yes, for my project I'm using launchpad.

I was thinking in this, and I think that a user can compose the phrase from
the JSON. I'll try this: http://paste.ubuntu.com/12637812/ Becaue your
composed phrase is a bit to create from the JSON, but I think your phrase
is perfect, really useful.

If you open the translations (and the API) for any language it would be
enough and perfect.

Thanks a lot!

P

[2015-10-06 17:18] costales opened #27 "How to avoid Tolls?"
Hi!

From the documentation:
https://github.com/valhalla/valhalla-docs/blob/master/api-reference.md
It's not so clear for me how to avoid all the tolls.

Should be like this? `"costing_options":{"auto":{"toll_booth_penalty":100000.0}}`

`https://valhalla.mapzen.com/route?json={"locations":[{"lat":42.358528,"lon":-83.271400},{"lat":42.996613,"lon":-78.749855}],"costing":"auto","costing_options":{"a

[2015-10-06 17:19] dnesbitt61 commented on #27
that should do it as long as there is a tolll booth in OSM (on a node).

[2015-10-06 17:35] costales commented on #27
@dnesbitt61 I asked because It's not working in this route. Is an OSM issue then?

`https://valhalla.mapzen.com/route?json={%22locations%22:[{%22lat%22:43.515955,%22lon%22:-5.655354999999999},{%22lat%22:40.4167047,%22lon%22:-3.7035825}],%22costing%22:%22auto%22}&api_key=valhalla-xxxxxxx`

`https://valhalla.mapzen.com/route?json={%22locations%22:[{%22lat%22:43.515955,%22lon%22:-5.655354999999999},{

[2015-10-06 17:44] gknisely commented on #27
@costales can you send us the OSM.org link to the node or way that has
toll=true.  Thanks.  Greg.

On Tue, Oct 6, 2015 at 1:35 PM, costales <notifications@github.com> wrote:

[2015-10-06 17:59] costales commented on #27
@gknisely

It's this mapzen response:
{"begin_shape_index":702,"street_names":["AP-66","Autopista Ruta de la Plata"],"time":1583,"type":8,"end_shape_index":1457,"instruction":"Continue on AP-66\/Autopista Ruta de la Plata.","length":47.760,"verbal_transition_alert_instruction":"Continue on AP-66.","toll":true,"verbal_pre_transition_instruction":"Continue on AP-66, Autopista Ruta de la Plata for 47

[2015-10-06 19:22] dnesbitt61 commented on #27
It looks like we need to apply penalties to ways marked as tolls in addition to nodes marked as tolls. We will look into this further and let you know what we find.

[2015-10-06 19:40] costales commented on #27
Thanks a lot :)

[2015-10-07 18:42] dnesbitt61 commented on #27
I believe this is fixed in production. Let us know if you still see issues.

[2015-10-07 19:12] costales commented on #27
It works :) Thanks a lot!
One question more please, in this parameter:
"toll_booth_penalty":100000.0
Which number should I use?

[2015-10-07 19:25] kevinkreiser commented on #27
@costales that number is in seconds. its basically telling the routing engine that you will sit at that tollbooth for that many seconds

[2015-10-07 19:32] costales commented on #27
@kevinkreiser Oh! Great ;)
Thanks a lot! I'm impressed with your support and good work!
A big hug

[2015-10-10 12:04] costales opened #29 "Improvement: Add max speed road parameter"
Hi!

I'd be a good improvement to return the max. speed road into the parameters from the API :)

Best regards!

[2015-10-10 12:16] dnesbitt61 commented on #29
Do you mean in the response? Since the response is at a maneuver level (not per graph edge) this isn't so useful. On a long maneuver where max speed changes there is no way to send back information that will tell you the max. speed at any point along the maneuver. We plan to support this via tile downloads so that mobile apps can have access to all graph information in a region or along a route.

[2015-10-10 12:18] costales commented on #29
Yes :) Then I could set a panel with that data and sound indications.

Thanks anyway :)

[2015-10-10 12:18] #29 closed

[2015-10-15 21:05] #27 closed

[2015-10-16 19:05] louh opened #34 "Tutorial - plugin-organization link doesn't really apply"
In https://github.com/valhalla/valhalla-docs/blob/master/add-routing-to-a-map.md, there is this text:

The link that it points to (https://github.com/Leaflet/Leaflet/blob/master/PLUGIN-GUIDE.md) is for people who are going to be project owners of their own Leaflet plugin that is intended to be distributed to a wider audience of developers. It doesn't apply to people who are creating personal proje

[2015-10-16 21:33] rmglennon commented on #34
Should we remove that sentence then?

[2015-10-20 20:33] louh commented on #34
Yeah, I think so. I was thinking of other ways to lead into "You can use a more sophisticated structure for your own work as you progress in your development," but if the intent is to ease-in beginner devs, it's really just extraneous information at this point.

[2015-10-24 16:31] lionel-bijaoui commented on #25
How can I help with translation (French) ?

[2015-10-25 00:37] kevinkreiser commented on #25
@lionel-bijaoui thanks for asking! we aren't quite ready yet but we'll notify you and @costales when we have documentation/instructions in place for contributing translations! we would really appreciate any help we can get!

[2015-12-18 19:18] rmglennon commented on #34
Deleted that line as part of some other updates this week. (finally)

[2015-12-18 19:18] #34 closed

[2015-12-19 15:15] michaellehmkuhl opened #45 "Tutorial - "Unhandled promise rejection Cannot assign to read only property 'layer_name' of false""
Hello.

I'm working through the tutorial https://mapzen.com/documentation/turn-by-turn/add-routing-to-a-map/, and ran into a problem getting the initial Tangram layer added to the map.

Here's a screenshot of the error I'm seeing in the console (using https://mapzen.com/tangram/tangram.debug.js for more clarity):
http://ep.d.pr/19TMS/2Z5DQiAB

HTML and scripts
[code]

Any help you can provide woul

[2015-12-19 22:18] michaellehmkuhl commented on #45
I was able to determine that the issue lies in somewhere in the skin-and-bones-scene.yaml scene file. I experimented with using the https://github.com/tangrams/simple-demo/blob/gh-pages/scene.yaml file instead, which worked for me. I haven't been able to narrow down specifically what piece of the skin-and-bones-scene.yaml file is problematic.

[2015-12-21 21:09] rmglennon commented on #45
Thanks for reporting this. Glad you got it working with that other scene!

Mapzen released a few new map styles since this tutorial was written, so I'll update the tutorial to use one of them instead. The Cinnabar style most closely resembles the skin-and-bones style.

https://raw.githubusercontent.com/tangrams/cinnabar-style/gh-pages/cinnabar-style.yaml

[2015-12-22 05:00] nvkelso commented on #45
/cc @bcamper as it seems like Tangram v0.3 works but v0.4 is doesn't like this earlier version of Skin & Bones.

[2015-12-22 05:18] bcamper commented on #45
Thanks, sorry for the trouble @michaellehmkuhl.

@rmglennon & @nvkelso: as we have been frequently updating Skin & Bones to track new Tangram features, it's likely a syntax incompatibility between 0.3 and 0.4. @rmglennon, let's update this tutorial (and others / as a general policy) to point to specific Tangram and scene file versions (@nvkelso, reminder we should add release/version numbers for s

[2016-01-08 18:46] #45 closed

[2016-01-08 19:34] rmglennon commented on #45
I've updated the tutorial on https://mapzen.com/documentation/turn-by-turn/add-routing-to-a-map/. It should all be working again!

Among the other changes, the map uses the Cinnabar style and specifies a Tangram version.

Thanks @michaellehmkuhl for letting us know about this!

[2016-01-12 22:45] migurski opened #49 "Use and document a CDN for Leaflet Routing Machine"
We are getting “good idea” feedback from @perliedman about a CDN for LRM (https://github.com/perliedman/leaflet-routing-machine/issues/192), let’s help that along. CDNJS might be confusing and weird, but in principle any stable URL on S3 or behind Fastly should work. @baldur might have some opinions on this.

* Raw markdown source: https://github.com/valhalla/valhalla-docs/blob/master/add-routing-

[2016-01-12 22:50] baldur commented on #49
My thoughts are if we can get away with creating a bucket and then deliver the content as:

bucket_name.s3-website-us-east-1.amazonaws.com/{filename}.js

Then that would be the least amount of effort

[2016-01-12 22:53] migurski commented on #49
Could it have a nice CNAME?

[2016-01-12 22:58] baldur commented on #49
that would require a ssl certificate ... would putting it under mapzen.com/somepath which then proxies to s3 work?

We do that already for tangram and I think it's being used ... @bcamper can speak to it better.

[2016-01-12 23:04] migurski commented on #49
…oh yeah, that’d be perfect. Under `/common/libs` perhaps?

[2016-01-12 23:07] baldur commented on #49
works for me

[2016-01-13 07:00] migurski commented on #49
Can you help show me what needs to happen to make that real?

[2016-01-13 15:39] baldur commented on #49
absolutely in essentially it's just a matter of adding a build step in
circleci which then publishes to the s3 bucket already mapped. @migurski
lets set something up where we can go over this.

On Wed, Jan 13, 2016 at 2:00 AM, migurski <notifications@github.com> wrote:

--
Baldur Gudbjornsson
VP Engineering
Mapzen - 347 268 1815

[2016-01-25 22:13] dnesbitt61 opened #52 "Document and add sample code for decoding polyline"
Add more info to docs about polyline encoding.
Add sample code in various languages (Javascript, others as requested).

[2016-02-02 21:12] rmglennon opened #57 "Update some OSM wikis for Valhalla/Turn-by-Turn"
There are a few OSM wikis that should be updated to include Valhalla/Turn-by-Turn.

- [x] http://wiki.openstreetmap.org/wiki/Routing/online_routers (placeholder table column)
- [x] http://wiki.openstreetmap.org/wiki/Valhalla (there's a start to this page)
- [x] http://wiki.openstreetmap.org/wiki/Routing (under End Users Routing Software)

Putting this into an issue so it doesn't get forgotten in e

[2016-02-03 13:28] dnesbitt61 commented on #57
Filled in much of the column - should revisit.

[2016-02-04 18:16] dnesbitt61 opened #58 "Document / example rate-limiting code"
Document best practices for adhering to rate limits when calling a service...what language(s).

[2016-02-12 16:19] #52 closed

[2016-02-17 00:35] rmglennon opened #62 "Determine whether examples folder is still needed"
The examples folder contains files that were used to support the tutorial when it used skin-and-bones yaml. This was updated to cinnabar (see https://github.com/valhalla/valhalla-docs/pull/48). I'm pretty sure these are not used anymore, but I need to investigate.

[2016-02-21 12:28] 0nko opened #65 "Sending data with a POST request"
Hi,
I noticed that for some of longer path requests a started getting "Failed to parse json request" error. The json query parameter was probably too long and got cut off. So I tried sending the JSON in a POST HTTP body instead and it worked. I think mentioning this in the docs could be useful.
Ondrej

[2016-02-21 15:40] kevinkreiser commented on #65
If the request is too large you'll get back an http 413 from this code:

https://github.com/kevinkreiser/prime_server/blob/master/src/http_protocol.cpp#L404

Most importantly though this size limit applies to both POST and GET (and any other type of request). So the limits do not differ.

"Failed to parse json request" is a message that `skadi` sends back when it cant make sense of the json string

[2016-02-21 15:41] kevinkreiser commented on #65
also, can you get us a request that produces this behavior so we can investigate what is going on?

[2016-02-21 16:30] 0nko commented on #65
You're right, the browser was cutting the json off when I was inspecting the problem. But the actual request is failing on 502: BAD GATEWAY error.

The original request:

https://elevation.mapzen.com/height?id=Cross&api_key=elevation-xxxxx&json=%7B%22encoded_polyline%22%3A%22elao%7EAcknnZe%40wMumApOvChk%40d%40nHsZjEeALuDh%40WqFM%7DAyGy_BWmFm%40iNaRifEUeEz%40gFpBoE%7ENj%40rFJh%5C%5CmBxL%7DAjGaBjFuF

[2016-02-25 16:48] dnesbitt61 opened #69 "Refer to technical docs within repositories"
Would be good to reference any "white-paper" or technical documentation that is stored in other Valhalla repositories.

[2016-03-01 19:24] #69 closed

[2016-03-07 23:00] eliboni opened #71 "Behaviour not consistent when trying to avoid tolls"
I'm experiencing an inconsistent behaviour when trying to avoid tolls roads:

Example1: The below 2-legs trip returned shape avoids toll roads as I would expect:
http://valhalla.mapzen.com/route?api_key=valhalla-xxx&json={"locations":[{"lat": 45.113120,"lon": 11.776360},{"lat": 45.020066,"lon": 11.706396},{"lat":44.86595,"lon": 11.575852}],"costing":"auto","costing_options":{"auto":{"toll_booth_pe

[2016-03-08 15:48] dnesbitt61 commented on #71
Thanks for reporting this issue. I think this is an issue with our logic that creates shortcut edges. I am testing a fix to our data import logic and will let you know if that is the case. I don't think you are doing anything wrong!

[2016-03-08 18:51] eliboni commented on #71
Thanks a lot! Let me know if you need more details or additional examples since I could replicate the same on other trips

[2016-03-14 12:44] dnesbitt61 commented on #71
This issue should be fixed in production now. If you find other examples of avoid toll issues please let us know, but hopefully this issue is fixed. Thanks for your help!

[2016-03-14 12:44] #71 closed

[2016-03-14 20:16] eliboni commented on #71
just exceptional!!!

[2016-04-05 23:19] rmglennon commented on #57
Pretty sure these are all done now. Thanks @gknisely

[2016-04-05 23:19] #57 closed

[2016-04-05 23:27] rmglennon opened #83 "Add a sentence on linking matrix with turn-by-turn to get directions"
Question came in through Twitter about how to get directions to closest facility.

https://twitter.com/juanfrans/status/717460505737216000

Perhaps we add a note to the matrix docs that says something like...it returns a grid, quickly...but no driving directions...use turn-by-turn...etc.

[2016-04-05 23:28] #62 closed

[2016-04-06 13:11] perliedman commented on #49
Don't know if this solves this issue for you, but LRM is now available from CDNJS: https://cdnjs.com/libraries/leaflet-routing-machine

[2016-04-06 13:29] migurski commented on #49
That’s great, Per, thanks for letting us know

[2016-04-25 16:19] dgearhart commented on #25
@costales you can now contribute an Asturian/Spain narrative language file.
If you are able, here are the instructions:
https://github.com/valhalla/odin/blob/master/locales/README.md

The file name for the Asturian/Spain narrative language should be:
ast-ES.json

The posix_locale value should be:
es_ES.utf8

[2016-04-25 16:21] dgearhart commented on #25
@lionel-bijaoui you can now contribute an French/France narrative language file.
If you are able, here are the instructions:
https://github.com/valhalla/odin/blob/master/locales/README.md

The file name for the  French/France narrative language should be:
fr-FR.json

The posix_locale value should be:
fr_FR.utf8

[2016-04-25 17:25] costales commented on #25
I'll do it :) Thanks a lot for your API!!

--
Sent using Dekko from my Ubuntu device

[2016-04-25 17:25] dgearhart commented on #25
thank you @costales

[2016-04-25 17:45] costales commented on #25
@dgearhart It's a big work. Are necessary the "example_phrases" or are just an example for translators?

[2016-04-25 18:05] dgearhart commented on #25
@costales the  "example_phrases" are not required to be translated - they are for communication aids for translator and developer

[2016-05-14 00:18] rmglennon commented on #49
Tutorial instructions updated to use website versions of Leaflet, LRM, and LRM-Mapzen (which is available through npm, but that also acts as a CDN with a URL, like https://npmcdn.com/lrm-mapzen/dist/lrm-mapzen.js.). This greatly simplified the tutorial set up instructions because we don't need to tell users to download any of these files now.

[2016-05-14 00:18] #49 closed

[2016-05-14 00:22] rmglennon commented on #19
All the required files (Leaflet, LRM, LRM-Mapzen) are now available on various CDNs. I've updated the tutorial instructions to use server-based URL references for the JS and CSS files, instead of including steps for people to download them. This makes it much simpler for all users.

There is a note to say you can go off and find the download links or use a package manager if you need a local copy.

[2016-05-14 00:22] #19 closed

[2016-05-14 00:31] rmglennon opened #89 "Tutorial - rework requirements for using a local server"
Including a Tangram map means the tutorial has steps to get a local server running. This adds complexity to a tutorial on routing, as someone might get caught there and never make it to the part of actually creating the route. See what we can do to simplify this section, or consider using another set of tiles.

https://github.com/valhalla/valhalla-docs/blob/master/add-routing-to-a-map.md#start-a-s

[2016-06-02 14:21] dgearhart commented on #25
@costales I was wondering if you had time to work on the Asturian/Spain narrative language file? If so, how is it going? Any issues?

[2016-06-02 14:22] dgearhart commented on #25
@lionel-bijaoui  I was wondering if you had time to work on the French narrative language file? If so, how is it going? Any issues?

[2016-06-03 14:01] costales commented on #25
@dgearhart So much work in these days, sorry.
Anyway I think is so much phrases :P I'll work on it ;)

[2016-07-15 13:27] kevinkreiser commented on #65
I'm wondering if the url encoded polyline is somehow tripping this up. like perhaps undefined behavior can occur when the url decoded polyline gets polyline decoded into bogus values. have you tried `POST`ing this instead of `GET`ting it? Avoiding url encoding issues is IMHO well worth the trouble of using `POST`

[2016-07-15 13:32] kevinkreiser opened #94 "POSTing and GETting Pros and Cons Elaboration"
We need to document the fact that its just far easier to POST json to our services than to GET with it. json is awesome but it makes use of a lot of characters that need urlencoded. On top of that some of our API's like you to send the polyline encoded string as input instead of literal coordinates. The polyline encoded string is all visible ascii so that is nice but it has even more characters th

[2016-07-18 17:11] tomay opened #95 "question on location limits"
Hello, thank you for this great service. I have a question about limits.

The docs [here](https://mapzen.com/documentation/turn-by-turn/api-reference/) say both that "Pedestrian routes have a limit of 50 locations and 250 kilometers.", and later, under "Locations" that "Locations are visited in the order specified, with a maximum of eight locations currently supported."

In testing, I was able to

[2016-07-18 18:39] kdiluca commented on #95
@tomay, thanks for bringing this to our attention.  The limits stated in the "API keys and service limits" are the correct documentation to follow.  I have fixed the "Locations" section of the documentation and it should be updated in production shortly.

[2016-07-19 02:29] tomay commented on #95
great - thank you very much

[2016-07-19 02:29] #95 closed

[2016-07-22 09:14] karme opened #96 "How to setup route server with some osm extract?"
maybe I missed it, but I couldn't find a tutorial describing how to use all the tools to setup a route server?

[2016-07-22 12:15] kevinkreiser commented on #96
yeah we are in a bit of flux right now. but if you want to run one yourself and make your own routing graph tiles yourself you can do that by following this little blurb: https://github.com/valhalla/tools#building-and-running-valhalla

[2016-07-22 12:16] kevinkreiser commented on #96
we also have docker if you are interested in that sort of thing: https://github.com/valhalla/valhalla-docker

[2016-07-22 14:19] karme commented on #96
Kevin Kreiser <notifications@github.com> writes:

somehow missed that one. Got my first routing request answered :-)
Thanks!

[2016-07-22 14:19] kevinkreiser commented on #96
no problem thank you!

[2016-07-22 14:19] #96 closed

[2016-08-29 17:46] rmglennon opened #102 "add definition for leg to glossary"
suggested in https://github.com/valhalla/valhalla-docs/pull/100

[2016-09-29 19:08] ustroetz opened #107 "Isochrones enpoint times out on transit"
When a sent a request to the isochrone endpoint with an invalid `costing` value I get a proper response:

[code]

However when use `transit` as `costing` it times out without returning anything.

[code]

I assume the transit costing isn't fully implemented yet for isochrones, is it?

[2016-09-30 12:50] dnesbitt61 commented on #107
Thanks for the bug report. transit is not supported as a standalone costing option. It is meant as a costing part of a multimodal route, so you specify costing=multimodal. transit costing options can then be added into a multimodal request. We will look into making this more clear and fixing it so an error is returned.

[2016-09-30 13:12] ustroetz commented on #107
Thanks @dnesbitt61 for the response. So do I understand this right, the following request will produce me a isochrone with the modes walking and transit?
[code]

[2016-09-30 13:21] dnesbitt61 commented on #107
Just the multimodal costing (not including the transit and pedestrian).  The transit and pedestrian "costing options" are optional and allow the default options to be overridden. This works the same as the route options.

route?json={"locations":[{"lat":40.749706,"lon":-73.991562,"type":"break","street":"Penn Plaza"},{"lat":40.73093,"lon":-73.991379,"type":"break","street":"Wanamaker Place"}],"cos

[2016-09-30 13:24] ustroetz commented on #107
Okay got it. Thanks for explaining and the great stuff you produce!

[2016-09-30 21:04] rmglennon opened #109 "Clarify language options in docs/lrm-mapzen"
This issue came in under the lrm-mapzen repo: https://github.com/mapzen/lrm-mapzen/issues/62

We should add a note to the tutorial and/or the lrm-mapzen readme about how to pass language options.

The language codes are documented here already: https://github.com/valhalla/valhalla-docs/blob/master/api-reference.md#directions-options

[2016-10-03 18:00] kkowalsky commented on #109
added an example to the LRM-mapzen readme (https://github.com/mapzen/lrm-mapzen/pull/64)

[2016-10-03 18:00] #109 closed

[2016-10-24 08:14] rinigus opened #113 "Installation instructions from source"
To be able to build and run valhalla stack on local machine, would be great to have installation instructions that are applicable to non-supported distributions. Right now, its probably possible but relatively hard to see which of the components has to be installed and in which sequence. While README has a section "Building and Running Valhalla" [ https://github.com/valhalla/tools ], it would be g

[2016-10-24 12:21] kevinkreiser commented on #113
we have instructions in that same readme for building from source. and we list the debian packages that are required to do so in the apt-get line. what would you suggest so that we could help more people build this themselves? i think its reasonable to expect that there is some package manager on the target platform. we arent going to give instructions on how to compile all the dependencies as wel

[2016-10-24 12:30] rinigus commented on #113
I see, I managed to miss it since it was commented out (I guess it is natural to skip the commented out text). So, maybe you could split it into two subsections: one with the installation from binary (ppa) and the second one (with the same instructions as you have for building, but not commented out). That might save your time by avoiding silly issues as this one :)

Target platform: at present it

[2016-10-24 12:44] kevinkreiser commented on #113
Yep we recently did some update that allow it to use even less ram. And in fact I'm going to add those to the instructions as well (basically we memory map the data as a tar file, saves a lot of memory and removes the need for us to manage cache). In terms of disk space the planet is about 50gb but if you know the area you are interested in it can be much much smaller.

[2016-10-24 20:36] rossanag opened #114 "Doubt in documentation about changing cost"
According to the documentation it says:

[code]

[https://github.com/mapzen/lrm-mapzen](url)

But I got the error that I have a null value: _route_

I applied the following solution:

[code]

Found here: [http://gis.stackexchange.com/questions/202432/leaflet-change-routing-vehicle-when-clicked-on-button](url)
where routeControl is the object that holds the lrm control.

The code:

[code]

Thanks f

[2016-11-08 14:28] hanbyul-here commented on #114
Was this about this issue? https://github.com/mapzen/lrm-mapzen/issues/65

[2016-11-17 19:45] kkowalsky opened #124 "Isochrones Doc updates"
route costing model is referenced in [this paragraph](https://precog.mapzen.com/mapzen/mapzen-docs-generator/rhonda-isochrones/documentation/mobility/isochrones/api-reference/#inputs-of-the-isochrone-service) and should be linked at the first time of reference.

The [Outputs of Service]() have this sentence: You can learn more about GeoJSON and its specification at http://geojson.org/. We typicall

[2016-11-18 02:13] rmglennon opened #126 "Clean up API key and rate limit references in docs"
We've started a pattern to put the info on getting an API key and the Mapzen-hosted service limits in one topic in the documentation. Doing this is a start to separating the service from the open-source project (which we've been thinking about for ages). It also makes updates easier because there is only one place.

I did this with the new isochrone doc, but need to do it throughout the mobility h

[2016-11-18 02:26] rmglennon opened #127 "Rework folders in valhalla-docs to simplify publishing process"
With the docs being moved to a section at https://mapzen.com/documentation/mobility/ for all of mobility (rather than separate sections for Turn-by-Turn, Matrix, and Optimized route like we had before), there was a lot of custom work with our publishing process to make sure that files were renamed and old URLs redirected.

It's become clearer that we should do these changes upstream in the source

[2016-11-21 20:34] #124 closed

[2016-11-29 18:13] kevinkreiser opened #129 "polyline encoding samples"
we need a corollary to: https://github.com/valhalla/valhalla-docs/blob/master/decoding.md in which we share sample code to generate an encoded polyline that valhalla will accept. there are off the shelf ones but they may not allow for 6 digits of precision or they may swap lat and lon. its best to just show the example ourselves:

for starters heres the c++11 version: https://github.com/valhalla/m

[2017-01-05 00:59] nvkelso opened #138 "Add hyperlinks for API query examples (but without API key)"
Currently the Mobility docs don't link out, and the are confusing with the API key (copy pasting them into the URL bar will generate a 429 error).

For example, this URL is written in text, but not hyper linked:

- http://valhalla.mapzen.com/route?json={%22locations%22:[{%22lat%22:42.358528,%22lon%22:-83.271400,%22street%22:%22Appleton%22},{%22lat%22:42.996613,%22lon%22:-78.749855,%22street%22:%22

[2017-01-08 06:31] rmglennon commented on #138
From some testing with markdown and HTML tags, it works best with a format like this:

`> [/route?json={"locations":[{"lat":40.749706,"lon":-73.991562,"type":"break","street":"Penn Plaza"},{"lat":40.73093,"lon":-73.991379,"type":"break","street":"Wanamaker Place"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":"1.0","use_rail":"0.0","use_transfers":"0.3"},"pedestrian":{"walking_sp

[2017-01-24 21:16] kkowalsky commented on #126
we should do this!

[2017-03-14 18:59] rmglennon commented on #129
mentioned in here https://github.com/valhalla/valhalla-docs/pull/151

[2017-03-26 21:42] weatherpattern opened #154 "leaflet.routing.mapzen.css missing from unpkg.com"
Currently, the tutorial references this css file: https://unpkg.com/lrm-mapzen@1.1.7/dist/
However,  leaflet.routing.mapzen.css is no longer in the https://unpkg.com/lrm-mapzen@1.1.7/dist/ directory.

Please add that file back to the folder.

[2017-03-27 20:23] rmglennon commented on #154
Thanks for the feedback. The files were renamed, so you can find the current versions here:

https://unpkg.com/lrm-mapzen@1.1.7/dist/lrm-mapzen.js
https://unpkg.com/lrm-mapzen@1.1.7/dist/lrm-mapzen.css

I am working on some other updates that need to be made to this tutorial, including updating to Leaflet 1.0 and modifying the Tangram code.

[2017-03-29 21:31] #154 closed

[2017-04-05 23:29] rmglennon commented on #89
This has been fixed with the inclusion of mapzen.js in March 2017.

[2017-04-05 23:29] #89 closed

[2017-04-05 23:35] rmglennon commented on #25
I think this can be closed now. The instructions for localization are here now, including ES and FR options: https://github.com/valhalla/valhalla/tree/master/locales

[2017-04-05 23:35] #25 closed

[2017-04-05 23:36] rmglennon commented on #114
It looks like this has been solved in mapzen/lrm-mapzen#65. Please reopen if there are still specific issues.

[2017-04-05 23:36] #114 closed

[2017-04-05 23:38] rmglennon commented on #107
Looks like this has been resolved in the official release of isochrone service and in #108

[2017-04-05 23:38] #107 closed

[2017-04-05 23:44] rmglennon opened #159 "Tutorial - enhancements for languages and URL hash"
Some feedback from @burritojustice for the tutorial (source file: https://github.com/valhalla/valhalla-docs/blob/master/add-routing-to-a-map.md)

1. Show how to switch languages. Code from tutorial is something like this:

[code]

2. Add ability to use a URL hash to re-create the route. [Mapzen.js has this capability](https://mapzen.com/documentation/mapzen-js/api-reference/#hash-control). I think

[2017-04-17 18:34] rmglennon opened #161 "Make some updates to the README"
We need to make a few updates to the README, such as:

- [ ] links to formatted version on mapzen.com
- [ ] new APIs like isochrone, map-matching, and so on (or remove them here to keep it easier to update) and Mobility Explorer
- [ ] contribution instructions
- [ ] links to other repositories that no longer exist

[2017-05-02 20:45] #126 closed

[2017-05-30 19:01] rmglennon commented on #138
As part of the requirement to use an API key with all requests, I have had to remove the URL to make these links just be code blocks (for now).

In the near-future, they will be updated to use the fancy API key switching we do for all documentation.

[2017-06-06 09:42] joseflorido opened #175 "Simpler shapes"
Hi!

On the route response you include the shape as a polyline. It is highly detailed with many points. Is there a way to request the shape of an 'overview' of the route? That overview would have way less points but still allow rendering the route over a map with acceptable precision.

Thanks!

[2017-06-07 14:36] dnesbitt61 commented on #175
There is no way to request a detail level for the returned shape. We have always recommended client side generalization as then the single shape can support whatever rendering scale is needed. If we returned a less detailed shape, then there would be no way for a client to get higher detail without a subsequent call to regenerate the route (we do not maintain any server side state).

We can consid

[2017-06-20 02:50] ianthetechie opened #176 "Crash when building tiles with recent Asia data"
Hello, all.

When importing any of the last several OSM planet dumps (I've tried 3), `valhalla_build_tiles` crashes. In an attempt to at least get a server running on a reasonable subset of the world, I downloaded the latest extracts from Geofabrik to isolate the problem. It appears to be somewhere in Asia. After isolating the issue data-wise, I reran a fresh build with everything but Asia (and An

[2017-06-20 02:54] ianthetechie commented on #176
Oh, and I suppose it'd be helpful if I mentioned what version I'm using ;) I'm using the PPA package on Ubuntu 16.04.2

[2017-06-20 03:22] gknisely commented on #176
Hi @ianthetechie
This issue was due to bad data entered by users in restrictions.  The fix has already been checked into master; however, we have not created a new PPA version yet.  I believe we plan to release a new version tomorrow.  We will let you know when it is available.

--Greg.

[2017-06-20 17:08] gknisely commented on #176
New PPA was released.  Can you try it out?

[2017-06-20 18:19] ianthetechie commented on #176
Fantastic. Kicking off an Asia build right now to test.

[2017-06-20 22:53] ianthetechie commented on #176
All appears well. Thanks for the quick fix!

[2017-06-20 22:53] #176 closed

[2017-06-21 02:56] gknisely commented on #176
:+1:

[2017-06-21 15:54] nvkelso opened #178 "Specify default values for bike costing"
https://mapzen.com/documentation/mobility/turn-by-turn/api-reference/#bicycle-costing-options

- `bicycle_type`: should say the default is `Road`
- `use_roads`: The default value is 0.5.
- `use_hills`: The default value is 0.5.
- `use_ferry`: already is specified as 0.5
- `cycling_speed`: already specified per `bicycle_type`

[2017-06-26 19:26] #178 closed

[2017-07-06 23:41] rmglennon commented on #20
some enhancements to lrm-mapzen (embedded in mapzen.js) recently to consider documenting: https://github.com/mapzen/lrm-mapzen/pull/79

[2017-07-14 17:13] rmglennon opened #183 "Update documentation for new Mobility Explorer visual styles and tiles"
There are some display changes coming to Mobility Explorer that need to be reflected in documentation.

- updating the colors used in the sidebar to match Mapzen purple stylesheet (mostly affects screenshots of the headings)
- changing the map tiles to Mapzen vector tiles (with a fallback)

I think users should be able to figure out the screenshots, so it's OK if the documentation lags (in other w

[2017-07-31 19:37] rmglennon opened #184 "Add links to new mapzen.com product pages and demos"
New product pages are about to be released. We should add links to them from the mobility documentation and update github.io demo links to point there.

via @souperneon

[2017-08-03 23:19] rmglennon commented on #127
As part of this, can also delete any index.md files that are not for the main mobility page or elevation. These are not used now.

- [ ] optimized_route
- [ ] matrix

[2017-08-08 22:17] #184 closed

[2017-08-10 22:41] #183 closed

[2017-10-04 15:48] farough opened #190 "Roundabout Inconsistencies"
Hi,

I'm hoping this is the correct place to create this issue.

I've started to implement Mapzen into our mobile apps, but I'm having issues with the directions regarding Roundabouts. We're using biking directions and I'm finding many of the roundabouts give inconsistent and often inaccurate values for the exit number. Even going to a single roundabout and making a request for each different exit

[2017-10-04 17:42] dgearhart commented on #190
@farough Could you please close this issue and open an issue here:
https://github.com/valhalla/valhalla/issues
Thank you for reporting

[2017-10-04 17:57] farough commented on #190
Alright, done. Thank you.

[2017-10-04 17:57] #190 closed

[2017-11-13 22:05] #127 closed

[2017-11-22 18:29] rmglennon opened #198 "Add more examples of costing options syntax"
We have had a couple of support tickets recently (such as Desk 1295) where users have missed the syntax for costing options, usually because they are not including the model name again. The proper way is `"costing_options":{"bicycle":{...}}`, rather than `"costing_options":{...}`. Without this, they never see a difference when setting the bicycle type, for example.

We should add more examples of

[2017-12-13 11:06] alexey-gl commented on #161
Dear @rmglennon
Some links to local repository are broken unfortunately.
For example:
- [Optimized Route API Reference ](https://github.com/valhalla/valhalla-docs/blob/master/optimized_route/api-reference.md)
- [Why Tiles?](https://github.com/valhalla/mjolnir/blob/master/docs/why_tiles.md)

"Technical descriptions available in other Valhalla repositories includes" links also sounds very promising,

[2017-12-13 16:58] rmglennon commented on #161
@alexey-gl Those files are here:

https://github.com/valhalla/valhalla-docs/blob/master/optimized/api-reference.md
https://github.com/valhalla/valhalla/blob/master/docs/mjolnir/why_tiles.md

Pull requests welcomed if you'd like to make some contributions to the readme.

[2018-01-18 19:07] dnesbitt61 opened #201 "Remove Mapzen References"
Scrub references to Mapzen.
For any links to demos - link to github.io pages if they can be configured to run with localhost.
Demos that reference MobilityExplorer may be OK - just point that the user will have to have a local Valhalla instance.

[2018-01-18 19:27] dnesbitt61 opened #203 "Code Samples / Resources for Polyline Encoding"
Add some code samples to encode/decode Valhalla polylines (6 degree precision).
Link to these code samples in the API docs

[2018-01-19 02:09] kevinkreiser commented on #203
we have plenty of decoding examples and a demo:

http://valhalla.github.io/demos/polyline/
https://github.com/valhalla/valhalla-docs/blob/master/decoding.md

encoding shoudn't be too much work to port around. i'm pretty sure we have it in c++ and javascript

[2018-01-19 16:19] kevinkreiser opened #205 "Deprecate this Repo by Migrating it into a Wiki on the Valhalla Repo"
github provides a place for documenting your code called a wiki. we should take the content here and cram it into the wiki on the valhalla repo as that is a more canonical means of sharing project docs. then we can remove this repo altogether.

[2018-01-28 06:04] rinigus commented on #113
Closing as a stale and not critical issue.

As such, using Valhalla on desktop and Sailfish mobile with great success!

[2018-01-28 06:04] #113 closed

[2019-10-21 14:40] StefanoFioravanzo opened #214 "Routing with timestamps"
I would like to estimate a route between two points `A` and `B` given start and end fixed timestamps. Like, say I know I am at point `A` at `5pm` and I am at `B` at `5.15pm`. Then find the most probable route that took me `15` minutes by car.

Is this feasible with Valhalla?

[2019-10-21 14:41] #214 closed, assigned to nobody